@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700;900&display=swap');

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body{
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-container{
  max-width: 500px;
  width: 45%;
  border: 1px solid fuchsia;
  border-radius: 10px;
  text-align: center;
  margin-top: 10%;
}

.idea-btn{
  cursor: pointer;
}